/* map组件样式*/

.ol-zoom {
    margin-top: 204px;
    position: absolute;
}

.ol-scale-line,
.ol-scale-line:not([ie8andbelow]) {
    background: black;
}

#mouse-position {
    float: right;
    position: absolute;
    right: 0px;
    bottom: 5px;
    z-index: 2000;
}

.custom-mouse-position {
    font-size: 16px;
    font-family: "微软雅黑";
    color: balck;
}

/*end map组件样式*/

/*oplayer overlayer popup*/

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "✖";
}

/**
        * 提示框的样式信息
        */

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

/*end oplayer overlayer popup*/

/*右上工具栏*/

#mapToolBar {
    box-shadow: 2px 2px 1px #eee;
    position: absolute;
    top: 70px;
    padding: 5px;
    right: 25px;
    width: 300px;
    height: 30px;
    background: #ffffff;
}

/*end 右上工具栏*/

/*查询左侧栏*/

#left_side {
    box-shadow: 0px 1px 1px #eee inset, 1px 0px 1px #aaaaaa;
    position: absolute;
    left: -270px;
    width: 270px;
    top: 51px;
    background: #ffffff;
}

#left_side .sidebar {
    position: absolute;
    width: 20px;
    height: 40px;
    background: #cccccc;
    opacity: 0.3;
    border: 1px solid #555555;
    border-left: 0px;
    top: 15px;
    right: -20px;
    cursor: pointer;
    background: #ffffff url('../img/index/icon_menu_unfold.png');
    background-position: -5px 5px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

#searchList li {
    list-style: none;
    padding-top: 3px;
}

#searchList .resouceIcon {
    margin-left: 15px;
    margin-top: 2px;
    float: left;
    width: 30px;
    height: 30px;
}

#searchList .resouce {
    margin-top: 15px;
}

#searchList .resouce,
#searchList .resouceIcon {
    cursor: pointer;
}

#searchList .resouce span.name {
    color: #00f;
}

#searchList .resouce span {
    line-height: 20px;
    margin-left: 45px;
    width: 200px;
    display: block;
}

/*end 查询左侧栏*/